h1 {
    color: seagreen;
}
p {
    color:turquoise;
}
h3 {
    color: darkgreen;
    background-color: lightgreen;
}
.div1 {
    background-color: rgb(21, 218, 240);
}
.p1 {
    color: red
}
.p2 {
    color:red
}
.p3 {
    color:blue
}
.div2{
    background-color: rgb(241, 188, 235);
}
.p4 {
    color:black
}
.p5 {
    color:red
}
.p6
{
    color: black;
}
.p7
{
    color:red
}
.p8
{
    color: rgb(12, 25, 171);
}