body {
    background-color: #ffffcc;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #000;
}

h1 {
    color: #800000;
}

ul {
    margin-bottom: 20px;
}

li {
    font-weight: bold;
}

.income {
    color: #00bfff;
    font-weight: bold;
}

.expenses {
    color: #ff00ff;
    font-weight: bold;
}

.profit {
    color: #ff0000;
    font-weight: bold;
}
